# bloop and metals
.bloop
.bsp
.metals

# scala 3
.tasty

# vs code
.vscode

# sbt
# (keep project/build.properties, but not other things
# in that directory)
bin/
project/project/
project/target/
project/.bsp/
project/.bloop/
target/
build/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class

