*.csv
*.zip
*.txt
*.app/

.bloop/
.bsp/
.metals/
.vscode/

_site/
SparkOrig/
RssAtomReaderWithMill
*.dotty-ide.json
*.dotty-ide-artifact
*.tasty
*.dat
access.log*
*.jar
**.jar
Scala.js/
bin/
target/
project/
build/
.cache
.cache-main
.classpath
.history
.project
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.log
*.iml
*.ipr
*.iws
.idea
*.db
meta.json
*.swp
